@import 'libs/bootstrap-reboot.min';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@import 'base/variables';

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    position: relative;
    width: 1145px;
    margin: 0 auto;
}

@import 'blocks/buttons';
@import 'blocks/navmenu';
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/title';
@import 'blocks/forums';
@import 'blocks/describe';
@import 'blocks/grid-wrapper';
@import 'blocks/reviews';
@import 'blocks/promo-video';
@import 'blocks/clients';
@import 'blocks/sponsors';
@import 'blocks/wrapper';
@import 'blocks/contacts';
@import 'blocks/feedback';

@import 'blocks/media';
