.btn {
    width: 153px;
    height: 42px;
    background-color: $second-color;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    transition: all .3s;
    a {
        color: #fff;
        text-decoration: none;
    }
    &:hover {
        background-color: $third-color;
    }
    &_club {
        background-color: $main-color;
        transition: all .3s;
        a {
            color: $third-color;
            text-decoration: none;
        }
        &:hover {
            background-color: $second-color;
        }
    }
    &_beige {
        width: 120px;
        height: 38px;
        background-color: #d4c198;
        margin-top: 20px;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    &_black {
        background-color: $third-color;
        &:hover {
            background-color: $main-color;
        }
    }
}