@media (max-width: 1200px) {
    .container {
        max-width: 960px
    }
    .forums {
        &__inner {
            margin-left: 46%;
        }
    }
    .prev {
        left: 43%;
    }
    .grid-wrapper {
        &__title {
            font-size: 15px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .reviews {
        // &__inner {
        //     position: relative;
        //     right: -15%;
        // }
        &__item-wrapper {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px
    }
    .header {
        &__item {
            margin-right: 30px;
            a {
                font-size: 14px;
            }
        }
    }
    .forums {
        &__inner {
            margin-left: 18%;
        }
    }
    .prev {
        left: 15%;
        top: 65%;
    }
    .next {
        right: 14%;
        top: 65%;
    }
    .wrapper {
        &_grid {
            &-w360 {
                grid-template-columns: repeat(auto-fill, 310px);
            }
        }
        &__item {
            &_wauto {
                min-height: 280px;
            }
        }
        &__img {
            img {
                width: 310px;
                height: 170px;
            }
        }
    }
    .grid-wrapper {
        grid-template-columns: repeat(2,minmax(auto,360px));
    }
    .prev_review {
        left: 4%;
        top: 60%;
    }
    .next_review {
        right: 4%;
        top: 60%;
    }
    .contacts {
        &__wrapper {
            flex-direction: column;
            margin-left: 0;
        }
        &__info {
            flex-direction: row;
            justify-content: center;
            margin-left: 0;
            margin-top: 30px;
            flex-wrap: wrap;
            &-item {
                width: 250px;
                margin-left: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .feedback {
        &__forms {
            margin-right: 0;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px
    }
    .navmenu {
        &__list {
            display: none;
        }
        &__burger {
            display: block;
            &_active {
                span {
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(2px) rotate(45deg);
                    }
                }
            }
        }
    }
    .burger-menu {
        &__item {
            &_active {
                right: 0;
            }
        } 
    }
    .header {
        &__item {
            display: none;
            &:first-child {
                display: block;
            }
        }
    }
    .forums {
        &__inner {
            margin-left: 9%;
            transform: translateX(-9%);
        }
    }
    .prev {
        left: 2%;
    }
    .next {
        right: 2%;
    }
    .tns-nav {
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        button {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color: #fff;
            border: none;
            margin: 0 5px;
        }
        .tns-nav-active {
            background-color: $second-color;
        }
    }
    .wrapper {
        &_grid {
            &-w360 {
               grid-gap: 0;
            }
        }
    }
    .grid-wrapper {
        grid-template-columns: repeat(1,minmax(auto,1fr));

    }
    .reviews {
        padding: 20px 0 60px 0;
        .container {
            max-width: 590px;
        }
    }
    .prev_review, .next_review {
        display: none;
    }
    .promo-video {
        min-height: 520px;
    }
    .clients {
        padding: 25px 0 70px 0;
    }
    .clients_prev, .clients_next {
        display: none;
    }
    
    .wrapper {
        margin-top: 20px;
        &__item {
            margin-top: 40px;
        }
    }
    .feedback {
        .appeal-form {
            width: 100%;
        }
        .email-form, .name-form {
            max-width: 100%;
            width: 100%;
            margin-top: 10px;
            margin-right: 0;
        }
        &__hotline {
            font-size: 13px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .forums {
        &__inner {
            
            left: 0;
            margin-top: 60px;
        }
        &__item {
            width: 280px;
            height: 279px;
            margin-left: 40%;
            transform: translateX(-50%);
        }
        &__wrapper {
            width: 260px;
            height: 260px;
            flex-direction: column;
            align-items: center;
        }
    }
    .prev, .next {
        display: none;
    }
    .describe {
        &__text {
            font-size: 14px;
        }
        &__btn-wrapper {
            width: 300px;
            .btn {
                width: 145px;
            }
        }
    }
    .reviews {
        &__inner {
            margin-top: 5px;
        }
        &__item-wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__circle {
            margin-bottom: 10px;
        }
        &__rectangle {
            max-width: 315px;
            height: 270px;
            background-image: none;
            background-color: #fff;
        }
        &__name {
            margin-top: 13px;
        }
        &__date {
            margin-bottom: 5px;
        }
        &__text {
            width: auto;
            margin: 0 25px;
        }
        .tns-nav {
            top: 103%;
        }
    }
    .reviews__name, .reviews__date {
        margin-left: 25px;
    }
    .sponsors {
        &__descr {
            font-size: 15px;
        }
        &__select {
            width: 300px;
        }
    }
    .footer {
        &__topforum {
            font-size: 13px;
            padding-right: 20px;
        }
        &__contact {
            font-size: 13px;
            margin-left: 20px;
        }
        &__followus {
            display: none;
        }
        &__copyright {
            font-size: 13px;
        }
        &__devs {
            font-size: 12px;
        }
    }
}