.navmenu {
    background-color: $third-color;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        height: 56px;
    }
    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        height: 100%;
        width: 370px;
        margin: 0;
    }
    .navmenu__list > li {
        position: relative;
        &:hover .navmenu__submenu {
            transform: scaleY(1);
        }
    }
    &__item {
        display: flex;
        align-items: center;
        height: inherit;
        a {
            display: flex;
            align-items: center;
            height: 35px;
            padding: 0 20px;
            border-right: 1px solid rgba($color: #fff, $alpha: .1);
            color: #fff;
            font-size: 14px;
            font-weight: 300;
            text-decoration: none;
        }
        &:hover {
            background-color: #000;
        }
    }
    &__item:last-child .navmenu__link {
        border: none;
    }
    &__submenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 295px;
        border: 1px solid #d6d6d6;
        z-index: 10;
        transform: scaleY(0);
        transform-origin: 0 0;
        background: #FFF;
        transition: 0.5s ease-in-out;
        
    }
    &__sub-item {
        display: flex;
        height: 48px;
        align-items: center;
        list-style-type: none;
        padding: 0 10px;
        a {
            height: 48px;
            width: 100%;
            color: #323232;
            font-size: 15px;
            font-weight: 300;
            line-height: 24px;
            border-bottom: 1px solid #d6d6d6;
            padding: 0;
            padding-left: 10px;
        }
        &:hover {
            background-color: #d6d6d6;
        }
    }
    .navmenu__submenu .navmenu__sub-item:last-child a {
        border: none;
    }
    &__burger {
        display: none;
        width: 30px;
        height: 24px;
        margin-top: 14px;
        span {
            display: block;
            height: 3px;
            width: 100%;
            margin-bottom: 4px;
            transition: .5s all;
            background-color: #fff;
        }
        
    }
}
.burger-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, .8);
    transition: 0.6s all;
    z-index: 20;
    list-style-type: none;
    &__item {
        display: block;
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin: 10px 0;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}
.btn {
    &_club {
        margin-top: 7px;
    }
}