.reviews {
    min-height: 417px;
    background-color: rgba($color: $main-color, $alpha: .3);
    padding: 54px 0 60px 0;
    &__inner {
        min-height: 245px;
        margin-top: 40px;
    }
    &__item-wrapper {
        display: flex;
        align-items: flex-start;
        width: 550px;
    }
    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 121px;
        height: 121px;
        background-color: #fff;
        border-radius: 100%;
        margin-right: 14px;
    }
    &__img {
        max-width: 90%;
    }
    &__rectangle {
        width: 411px;
        height: 245px;
        background-image: url('../icons/index/Rounded_Rectangle_2.png');
    }
    &__name {
        color: $third-color;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        margin-left: 51px;
        margin-top: 20px;
    }
    &__date {
        width: 119px;
        height: 29px;
        background-color: rgba($color: #919191, $alpha: .5);
        color: #ffffff;
        font-size: 9px;
        font-weight: 300;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
        margin-left: 51px;
        margin-top: 10px;
    }
    &__text {
        width: 333px;
        color: $third-color;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        margin-left: 51px;
        margin-top: 10px;
    }
}

.prev_review, .next_review {
    top: 50%;
    position: absolute;
    background-color: transparent;
    border: none;
}
.prev_review {
    left: -4%;
}
.next_review {
    right: -2%;
}